[submodule "external/qtzeroconf"]
	path = external/qtzeroconf
    url = https://github.com/jbagg/QtZeroConf.git
[submodule "external/fftconvolver"]
	path = external/fftconvolver
	url = https://github.com/HiFi-LoFi/FFTConvolver.git
